<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="">
        <section class="card card-cascade narrower mb-5">
          <div class="view py-3 gradient-card-header info-color-dark">
            <h5 class="mb-0">Add Client</h5>
          </div>
          <div class="card-body">
            <form>
              <div class="form-row">
                <div class="col-6">
                  <div class="md-form">
                    <input type="text" class="form-control" placeholder="Client Name">
                  </div>
                </div>

                <div class="col-6">
                  <div class="md-form">
                    <input type="text" class="form-control" placeholder="Client Company">
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col-6">
                  <div class="md-form">
                    <input type="text" class="form-control" placeholder="Client Address 1">
                  </div>
                </div>
                <div class="col-6">
                  <div class="md-form">
                    <input type="text" class="form-control" placeholder="Client Address 2">
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col-6">
                  <div class="md-form">
                    <input type="text" class="form-control" placeholder="Client Email">
                  </div>
                </div>
                <div class="col-6">
                  <div class="md-form">
                    <input type="text" class="form-control" placeholder="Client No">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-2">
                  <div class="md-form">
                    <button type="button" class="btn btn-mdb-color pull-right" data-toggle="modal" data-target="#Add_Staff">+ADD Staff</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </div>


  <!--Section: Table-->
  <section class="mb-5">

    <!--Card-->
    <div class="card card-cascade narrower">

      <!--Card header-->
      <div class="view py-3 gradient-card-header info-color-dark mx-4 d-flex justify-content-between align-items-center">

        <div>
          <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
            <i class="fa fa-th-large mt-0"></i>
          </button>
          <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
            <i class="fa fa-columns mt-0"></i>
          </button>
        </div>

        <a href="#" class="white-text mx-3">Staff Details</a>

        <div>
          <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
            <i class="fa fa-pencil mt-0"></i>
          </button>
          <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" data-toggle="modal" data-target="#modalConfirmDelete">
            <i class="fa fa-remove mt-0"></i>
          </button>
          <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
            <i class="fa fa-info-circle mt-0"></i>
          </button>
        </div>

      </div>
      <!--/Card header-->

      <!--Card content-->
      <div class="card-body">

        <div class="table-responsive">

          <table class="table">
            <thead>
            <tr>
              <th>
                <input type="checkbox" id="checkbox">
                <label for="checkbox" class="label-table"></label>
              </th>
              <th class="th-lg">Staff Name</th>
              <th class="th-lg">Department</th>
              <th class="th-lg">Email ID</th>
              <th class="th-lg">Phone Number</th>
              <th class="th-lg">Status</th>
              <th class="th-lg">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">
                <input type="checkbox" id="checkbox1">
                <label for="checkbox1" class="label-table"></label>
              </th>
              <td>Lorem Ipsum</td>
              <td>Lorem Ipsum</td>
              <td>Lorem Ipsum</td>
              <td>Lorem Ipsum</td>
              <td>Lorem Ipsum</td>
              <td>Lorem Ipsum</td>
            </tr>
            <tr>
              <th scope="row">
                <input type="checkbox" id="checkbox2">
                <label for="checkbox2" class="label-table"></label>
              </th>
              <td>Lorem Ipsum</td>
              <td>Lorem Ipsum</td>
              <td>Lorem Ipsum</td>
              <td>Lorem Ipsum</td>
              <td>Lorem Ipsum</td>
              <td>Lorem Ipsum</td>
            </tr>
            <tr>
              <th scope="row">
                <input type="checkbox" id="checkbox3">
                <label for="checkbox3" class="label-table"></label>
              </th>
              <td>Lorem Ipsum</td>
              <td>Lorem Ipsum</td>
              <td>Lorem Ipsum</td>
              <td>Lorem Ipsum</td>
              <td>Lorem Ipsum</td>
              <td>Lorem Ipsum</td>
            </tr>
            </tbody>
          </table>

        </div>

        <hr class="my-0">

        <!--Bottom Table UI-->

        <!--Bottom Table UI-->

      </div>
      <!--/.Card content-->

    </div>
    <!--/.Card-->

  </section>
  <!--Section: Table-->
</div>
